.container {
    position: relative;   /* Add this */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 1000;
}

.controls {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.controls > div:first-child {
  position: absolute;
  left: 0; /* flush left */
}

.controls .centered {
  margin: 0 auto; /* keeps it centered */
}

#starCanvas {
    background: black; 
    border-radius: 10px;
    z-index: 800;
    display: none
}

#spectrumChart {
    background: rgb(0, 0, 0); 
    border-radius: 10px;
    z-index: 19999;
    user-select: none;   /* avoid text selection while dragging */
    -webkit-user-drag: none;
    touch-action: none;  /* needed for pointer events on some browsers */
}